@font-face {
  font-family: 'open_sansregular';
  src: url("./fonts/OpenSans-Regular-webfont.eot");
  src: url("./fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Regular-webfont.woff") format("woff"), url("./fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("./fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("./fonts/OpenSans-Semibold-webfont.eot");
  src: url("./fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("./fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("./fonts/OpenSans-Semibold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'AmaticSC';
  src: url("./fonts/AmaticSC-Regular.eot");
  src: url("./fonts/AmaticSC-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/AmaticSC-Regular.woff2") format("woff2"), url("./fonts/AmaticSC-Regular.woff") format("woff"), url("./fonts/AmaticSC-Regular.ttf") format("truetype"), url("./fonts/AmaticSC-Regular.svg#AmaticSC-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/webfonts/fa-solid-900.eot");
  src: url("./fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./fonts/webfonts/fa-solid-900.woff2") format("woff2"), url("./fonts/webfonts/fa-solid-900.woff") format("woff"), url("./fonts/webfonts/fa-solid-900.ttf") format("truetype"), url("./fonts/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/webfonts/fa-brands-400.eot");
  src: url("./fonts/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("./fonts/webfonts/fa-brands-400.woff2") format("woff2"), url("./fonts/webfonts/fa-brands-400.woff") format("woff"), url("./fonts/webfonts/fa-brands-400.ttf") format("truetype"), url("./fonts/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }
body {
  font-family: "open_sansregular", "sans serif";
  color: #464646; }

.blog-post__title, .aside, .footer__middle h3 {
  font-family: "AmaticSC", "sans serif"; }

.main-nav, .top-nav, .categories, .blog-post__readmore {
  font-family: "open_sanssemibold", "sans serif"; }

h2, h3 {
  text-transform: uppercase; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.top-nav {
  float: left;
  align-items: center;
  height: auto;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.8px;
  padding: 1.5% 1% 0.5% 3%;
  white-space: nowrap; }
  @media (max-width: 680px) {
    .top-nav {
      display: none; } }
  .top-nav ul {
    padding: 0;
    margin: 0; }
  .top-nav li {
    display: inline-block;
    padding: 0 1%;
    color: #000000; }
    .top-nav li:hover {
      color: #946D2E; }

.top-social {
  padding-right: 2%;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  padding: 1% 2% 0 2%;
  width: auto;
  white-space: nowrap; }
  @media (max-width: 680px) {
    .top-social {
      display: block; } }

.top-img {
  background-image: url("../img/tarte-header-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 450px;
  display: block;
  clear: both; }
  @media (max-width: 1024px) {
    .top-img {
      min-height: 300px; } }
  @media (max-width: 680px) {
    .top-img {
      min-height: 200px;
      position: relative;
      top: 40px; } }

.navigation {
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 2px #e0dbdbc9;
  margin: auto;
  background-color: #ffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  z-index: 50; }
  .navigation nav {
    box-sizing: content-box;
    flex-grow: 1;
    position: relative; }
  .navigation li:hover > ul {
    display: inherit; }
    @media (max-width: 1024px) {
      .navigation li:hover > ul {
        display: none; } }

.heart {
  position: relative;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  font-weight: 900;
  margin: 0;
  padding: 1%;
  width: 8%;
  color: #000000; }
  .heart::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    content: "\f004  ";
    position: absolute;
    bottom: 20px;
    left: 20px; }
  .heart:hover {
    color: #946D2E; }

#mini-tarte {
  position: absolute;
  right: 0;
  bottom: 8px;
  height: 40px;
  width: 47px; }

/* ------MENU ------- */
.nav-container {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  @media (max-width: 1024px) {
    .nav-container {
      display: none; } }
  .nav-container a:hover {
    color: #946D2E; }

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 60;
  background-color: #ffff; }
  @media (min-width: 1024px) {
    .mobile-menu {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap; } }

.main-nav {
  box-sizing: border-box;
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  line-height: 60px;
  height: 60px;
  letter-spacing: 1px;
  padding: 0 2%; }
  .main-nav a {
    color: #000000; }

.second-nav-ul {
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  left: -6px;
  padding: 0;
  margin: 0;
  width: 188px;
  background-color: #ffff;
  display: none; }

.second-nav {
  box-sizing: border-box;
  width: 188px;
  padding: 0 2%;
  margin: 0;
  float: none;
  display: list-item;
  position: relative;
  font-size: 12px;
  line-height: 50px;
  list-style-type: none;
  border-top: 1px solid #ddd9d9;
  height: 50px;
  font-weight: normal;
  line-height: 40px; }

.third-nav-ul {
  display: none;
  list-style-type: none;
  width: 188px;
  position: absolute;
  top: -1px;
  right: -188px;
  box-sizing: border-box;
  width: 188px;
  padding: 0;
  margin: 0;
  background-color: #ffff; }

.third-nav {
  box-sizing: border-box;
  position: relative;
  float: none;
  display: list-item;
  padding: 0 2%;
  height: 50px;
  list-style-type: none;
  font-weight: normal;
  border-top: 1px solid #ddd9d9; }

.open-third::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "  \f105";
  position: absolute;
  right: 5px; }

.arrow-down::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "  \f107";
  font-size: 15px;
  position: relative;
  left: 6px; }

#accueil {
  color: #946D2E;
  margin: 0; }

.sticky {
  position: fixed;
  top: 0;
  z-index: 50; }

.nav-placeholder {
  height: 60px; }

/* search */
.search {
  box-sizing: border-box;
  width: 58px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0;
  padding: 1%;
  color: #000000; }
  .search .search-icon {
    height: 15px;
    width: 15px;
    position: relative;
    top: 8px; }
  .search:hover {
    color: #946D2E;
    fill: #946D2E; }
  .search input {
    display: none; }
  .search .close-icon {
    display: none; }

.search--full {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }
  .search--full input {
    border: none;
    width: 100%;
    height: 90%;
    text-align: center;
    font-size: 15px;
    font-weight: 600; }
  .search--full .close-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 2%;
    top: 35%;
    cursor: pointer; }
    .search--full .close-icon:hover {
      fill: #946D2E; }
  .search--full .search-icon {
    display: none; }

.toggle-menu {
  display: none;
  height: 25px;
  width: 30px;
  margin: 3% auto;
  padding: 0;
  border: none;
  background-color: #ffff;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .toggle-menu {
      display: block; } }

.bars-svg {
  height: 100%;
  display: inline-block; }
  .bars-svg:hover {
    fill: #946D2E; }

.categories {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto; }
  .categories__link {
    box-sizing: border-box;
    display: block;
    width: 23%;
    margin-top: 1%;
    position: relative; }
    .categories__link h3 {
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      padding: 2% 5%;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      color: #464646;
      background-color: rgba(255, 255, 255, 0.85); }
      @media (max-width: 750px) {
        .categories__link h3 {
          font-size: 10px; } }

.aside {
  box-sizing: border-box;
  flex: 23%;
  margin-left: 3%;
  background-color: #ffff; }
  @media (max-width: 1024px) {
    .aside {
      width: 60%;
      margin: auto; } }
  .aside__text {
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    color: #000000;
    overflow: hidden; }
    .aside__text::before {
      background-color: white;
      content: "";
      display: inline-block;
      height: 1px;
      border-bottom: 1px solid #ddd9d9;
      position: relative;
      vertical-align: middle;
      width: 20%;
      right: 0.5em; }
    .aside__text::after {
      background-color: white;
      content: "";
      display: inline-block;
      height: 1px;
      border-bottom: 1px solid #ddd9d9;
      position: relative;
      vertical-align: middle;
      width: 20%;
      left: 0.5em; }
    .aside__text--search {
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.8;
      text-align: center;
      color: #000000; }
  .aside__search {
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 15%;
    width: 100%; }
    .aside__search input {
      box-sizing: border-box;
      border: 1px solid #ddd9d9;
      float: left;
      height: 41px;
      width: 85%;
      margin: 0;
      padding: 0; }
    .aside__search button {
      box-sizing: border-box;
      display: inline-block;
      width: 14%;
      height: 41px;
      margin: 0;
      padding: 0;
      background-color: #464646;
      border: none;
      cursor: pointer; }
      .aside__search button svg {
        box-sizing: border-box;
        display: inline-block;
        height: 17px;
        fill: #ffff; }
  .aside__image {
    margin-bottom: 10%;
    width: 80%; }
    @media (max-width: 1024px) {
      .aside__image {
        width: 50%; } }
  .aside__instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .aside__instagram img {
      height: 50%;
      width: 32%;
      margin: 1% 0; }

.footer {
  background-color: #f6f6f6; }
  .footer__instagram {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around; }
    .footer__instagram img {
      width: 28%;
      margin: 2% 1% 0 1%; }
    @media (max-width: 1024px) {
      .footer__instagram {
        display: none; } }
  .footer__middle {
    display: flex;
    border-bottom: 1px solid #ddd9d9; }
    @media (max-width: 1024px) {
      .footer__middle {
        flex-direction: column;
        align-items: center; } }
  .footer__middle--select {
    width: 35%; }
    @media (max-width: 1024px) {
      .footer__middle--select {
        width: 80%; } }
    .footer__middle--select select {
      display: block;
      margin: auto;
      height: 42px;
      width: 65%;
      border: 1px solid #ddd9d9;
      background-color: #f6f6f6;
      margin-bottom: 10%;
      font-size: 13px; }
  .footer__middle h3 {
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    color: #000000;
    overflow: hidden; }
    .footer__middle h3::before {
      background-color: #f6f6f6;
      content: "";
      display: inline-block;
      height: 1px;
      border-bottom: 1px solid #ddd9d9;
      position: relative;
      vertical-align: middle;
      width: 20%;
      right: 0.5em; }
    .footer__middle h3::after {
      background-color: #f6f6f6;
      content: "";
      display: inline-block;
      height: 1px;
      border-bottom: 1px solid #ddd9d9;
      position: relative;
      vertical-align: middle;
      width: 20%;
      left: 0.5em; }
  .footer__bottom {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2% auto; }
    @media (max-width: 1024px) {
      .footer__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        margin: 0 auto 3% auto; } }
    .footer__bottom__socials {
      display: inline-block;
      box-sizing: border-box;
      white-space: nowrap; }
    .footer__bottom__navigation {
      display: inline-block;
      box-sizing: border-box;
      list-style: none;
      padding-right: 3%;
      margin: 0;
      white-space: nowrap; }
      @media (max-width: 1024px) {
        .footer__bottom__navigation {
          padding-right: 5%; } }
      @media (max-width: 680px) {
        .footer__bottom__navigation {
          padding-right: 0; } }
    .footer__bottom__navigation ul {
      box-sizing: border-box;
      margin: 0;
      padding: 0; }
    .footer__bottom__navigation li {
      display: inline-block;
      list-style: none;
      font-size: 12px;
      margin-right: 1%; }
      .footer__bottom__navigation li:hover {
        color: #946D2E; }
      @media (max-width: 680px) {
        .footer__bottom__navigation li {
          display: block;
          margin: 4% 0;
          text-align: center; } }

.uppercase {
  text-transform: uppercase; }

.social-icon {
  display: inline-block;
  height: 13px;
  padding: 6px;
  fill: #464646;
  cursor: pointer; }
  .social-icon:hover {
    fill: #946D2E; }

.instagram-button {
  box-sizing: border-box;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  margin: 5% auto 15% auto;
  padding: 2% 5%;
  height: 33px;
  display: block;
  cursor: pointer; }
  .instagram-button::before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f16d";
    position: relative;
    right: 5%; }
  .instagram-button:hover {
    background-color: rgba(70, 70, 70, 0.75); }
  .instagram-button--footer {
    margin: 1% auto 5% auto;
    padding: 0.5% 2%; }
    @media (max-width: 1024px) {
      .instagram-button--footer {
        display: none; } }

.main-content {
  box-sizing: border-box;
  padding: 2.5%;
  display: flex; }
  @media (max-width: 1024px) {
    .main-content {
      flex-direction: column; } }
  .main-content__left {
    flex: 77%; }
  .main-content__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 750px) {
      .main-content__grid {
        justify-content: center; } }
  .main-content__pagination {
    width: 100%;
    position: relative;
    margin: 3% 0 10% 0; }
    .main-content__pagination--container {
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .main-content__pagination--number {
      display: inline-block;
      margin-right: 0.2%;
      height: 41px;
      line-height: 41px;
      font-weight: 600;
      font-size: 12px;
      width: 39px;
      color: white;
      fill: white;
      text-align: center;
      background-color: #464646; }
      .main-content__pagination--number:hover {
        background-color: #946D2E; }
    .main-content__pagination--arrow {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.2%;
      height: 41px;
      line-height: 41px;
      width: 39px;
      fill: white;
      text-align: center;
      background-color: #464646;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%); }
      .main-content__pagination--arrow:hover {
        background-color: #946D2E; }
    .main-content__pagination .icon-arrow {
      width: 30%;
      line-height: 41px;
      text-align: center; }

.current-page {
  background-color: #946D2E; }

.blog-post {
  box-sizing: border-box;
  border-bottom: 1px solid #ddd9d9;
  width: 48%;
  height: auto;
  margin-bottom: 2%; }
  .blog-post__photo {
    height: 40%; }
  .blog-post__tags {
    height: 2%; }
  .blog-post__title {
    height: auto; }
  .blog-post__extract {
    height: auto; }
  .blog-post__readmore {
    height: 6%; }
  .blog-post__socials {
    height: 4%; }
  @media (max-width: 750px) {
    .blog-post {
      width: 80%; } }
  .blog-post__photo {
    padding-top: 3%; }
  .blog-post__tags {
    box-sizing: border-box;
    color: #946D2E;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin-top: 5%; }
    .blog-post__tags:hover {
      color: rgba(202, 155, 82, 0.85); }
  .blog-post__title {
    box-sizing: border-box;
    font-weight: 800;
    font-size: 37px;
    color: black;
    text-align: center;
    line-height: 25px;
    margin-top: 2%; }
    .blog-post__title:hover {
      color: rgba(70, 70, 70, 0.75); }
  .blog-post__extract {
    box-sizing: border-box;
    text-align: justify;
    margin-top: 3%; }
    .blog-post__extract::first-letter {
      float: left;
      margin: 5px 12px 0 0;
      font-family: "AmaticSC", "sans serif";
      font-size: 80px;
      line-height: 65px;
      text-align: center;
      text-transform: uppercase;
      color: #030303; }
  .blog-post__readmore {
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 8%;
    border: 1px solid #946D2E;
    color: #946D2E;
    background-color: #ffff;
    width: 30%;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 2px; }
    .blog-post__readmore:hover {
      color: rgba(202, 155, 82, 0.85); }
  .blog-post__socials {
    box-sizing: border-box;
    width: 100%;
    padding: 2% 2% 5% 0;
    margin-top: 2%;
    text-align: right; }

/*# sourceMappingURL=style.css.map */
