.aside {
    box-sizing: border-box;
    flex: 23%;
    margin-left: 3%;
    background-color: $color-background;
    @media (max-width:1024px) {
        width: 60%;
        margin: auto;
    }
    &__text {
        box-sizing: border-box;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        text-align: center;
        color: $second-font-color;
        overflow: hidden;
        &::before {
            background-color: white;
            content: "";
            display: inline-block;
            height: 1px;
            border-bottom: 1px solid $color-border;
            position: relative;
            vertical-align: middle;
            width: 20%;
            right: 0.5em;
        }
        &::after {
            background-color: white;
            content: "";
            display: inline-block;
            height: 1px;
            border-bottom: 1px solid $color-border;
            position: relative;
            vertical-align: middle;
            width: 20%;
            left: 0.5em;
        }
        &--search {
            letter-spacing: 2px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.8;
            text-align: center;
            color: $second-font-color;
        }
    }
    &__search {
        box-sizing: border-box;
        margin-top: 5%;
        margin-bottom: 15%;
        width: 100%;
        & input {
            box-sizing: border-box;
            border: 1px solid $color-border;
            float: left;
            height: 41px;
            width: 85%;
            margin: 0;
            padding: 0;
        }
        & button {
            box-sizing: border-box;
            display: inline-block;
            width: 14%;
            height: 41px;
            margin: 0;
            padding: 0;
            background-color: $main-font-color;
            border: none;
            cursor: pointer;
            & svg {
                box-sizing: border-box;
                display: inline-block;
                height: 17px;
                fill: $color-background; 
            }
        }  
    }
    &__image {
        margin-bottom: 10%;
        width: 80%;
        @media (max-width:1024px) {
            width: 50%;
        }
    }
    &__instagram {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & img {
            height: 50%;
            width: 32%;
            margin: 1% 0;
        } 
    }
};