.categories {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    &__link {
        box-sizing: border-box;
        display: block;
        width: 23%;
        margin-top: 1%;
        position: relative;
        & h3 {
            box-sizing: border-box;;
            display: inline-block;
            position: absolute;  
            left: 50%;
            top: 50%;                         
            transform: translate(-50%, -50%);
            margin: auto;
            padding: 2% 5%;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            color: $main-font-color;
            background-color: $color-featured-links;
            @media (max-width:750px) {
                font-size: 10px;
            }

        }
    }
}