
.footer {
    background-color: $color-footer;
    &__instagram {
        display: flex;
        flex-direction: wrap;
        justify-content: space-around;
        & img {
            width: 28%;
            margin: 2% 1% 0 1%;
        }
        @media (max-width:1024px) {
            display: none;
        }
        
    }
    &__middle {
        display: flex;
        border-bottom: 1px solid $color-border;
        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__middle--select {
        width: 35%;
        @media (max-width:1024px) {
            width: 80%;
        }
        & select {
            display: block;
            margin: auto;
            height: 42px;
            width: 65%;
            border: 1px solid $color-border;
            background-color: $color-footer;
            margin-bottom: 10%;
            font-size: 13px;
        }
    }
    &__middle h3 {
        box-sizing: border-box;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        text-align: center;
        color: $second-font-color;
        overflow: hidden;
        &::before {
            background-color: $color-footer;
            content: "";
            display: inline-block;
            height: 1px;
            border-bottom: 1px solid $color-border;
            position: relative;
            vertical-align: middle;
            width: 20%;
            right: 0.5em;
        }
        &::after {
            background-color: $color-footer;
            content: "";
            display: inline-block;
            height: 1px;
            border-bottom: 1px solid $color-border;
            position: relative;
            vertical-align: middle;
            width: 20%;
            left: 0.5em;
            
        }
    }
    &__bottom {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 2% auto;
        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
            padding-top: 2%;
            margin: 0 auto 3% auto;
        }
        &__socials {
            display: inline-block;
            box-sizing: border-box;
            white-space: nowrap;
        }
        &__navigation {
            display: inline-block;
            box-sizing: border-box;
            list-style: none;
            padding-right: 3%;
            margin:0;
            white-space: nowrap;
            @media (max-width:1024px) {
                padding-right: 5%;
            }
            @media (max-width:680px) {
                padding-right: 0;
            }
            
        }
        &__navigation ul {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        &__navigation li {
            display: inline-block;       
            list-style: none;
            font-size: 12px;
            margin-right: 1%;
            &:hover {
                color: $color-main;
            }
            @media (max-width:680px) {
                display: block;
                margin: 4% 0;
                text-align: center;
            }
        }
    }
}

.uppercase {
    text-transform: uppercase;
}
