.top-nav {
    float: left;
    align-items: center;
    height: auto;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.8px;
    padding: 1.5% 1% 0.5% 3%;
    white-space: nowrap;
    @media (max-width:680px) {
        display: none;
    }
    & ul {
        padding: 0;
        margin: 0;
    }
    & li {
        display: inline-block;
        padding: 0 1%;
        color: $second-font-color;
        &:hover {
            color: $color-main;
        }
    }
}
.top-social {
    padding-right: 2%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    padding: 1% 2% 0 2%;
    width: auto;
    white-space: nowrap;
    @media (max-width:680px) {
        display: block;
        
    }
}
.top-img {
    background-image: url("../img/tarte-header-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 450px;
    display: block;
    clear: both;
    @media (max-width:1024px) {
        min-height: 300px;
    }
    @media (max-width: 680px) {
        min-height: 200px;
        position: relative;
        top: 40px;
    }
}
