.navigation {
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 2px #e0dbdbc9;
    margin: auto;
    background-color: $color-background;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    z-index: 50;
    & nav {
        box-sizing: content-box;
        flex-grow: 1;
        position: relative;
    }
    & li:hover>ul {
        display: inherit;
        @media (max-width:1024px) {
            display: none;
        }
    }
}

.heart {
    position: relative;
    box-sizing: border-box;
    float: left;
    cursor: pointer; 
    font-weight: 900;
    margin: 0;
    padding: 1%;
    width: 8%;
    color: $second-font-color;
    &::before {
        @include fontAwesome;
        content: "\f004  ";
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    &:hover {
        color: $color-main;
    }
}
#mini-tarte {
    position: absolute;
    right: 0;
    bottom: 8px;
    height: 40px;
    width: 47px;
}

/* ------MENU ------- */

.nav-container {
    
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    @media (max-width:1024px) {
        display: none;
    }
    & a:hover {
        color: $color-main;
    }
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 60;
    background-color: $color-background;
    @media (min-width:1024px) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
.main-nav {
    box-sizing: border-box;
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    line-height: 60px;
    height: 60px;
    letter-spacing: 1px;
    padding: 0 2%;
    & a {
        color: $second-font-color;
    }
}

.second-nav-ul {
    list-style-type: none;
    box-sizing: border-box;
    position: relative;
    left: -6px;
    padding: 0;
    margin: 0;
    width: 188px;
    background-color: $color-background;
    display: none;
}
.second-nav {
    box-sizing: border-box;
    width: 188px;
    padding: 0 2%;
    margin: 0;
    float: none;
    display: list-item;
    position: relative;
    font-size: 12px;
    line-height: 50px;
    list-style-type: none;
    border-top: 1px solid $color-border;
    height: 50px; 
    font-weight: normal;
    line-height: 40px;
}
.third-nav-ul {
    display: none;
    list-style-type: none;
    width: 188px;
    position: absolute;
    top: -1px;
    right: -188px;
    box-sizing: border-box;
    width: 188px;
    padding: 0;
    margin: 0;
    background-color: $color-background;
}
.third-nav {
    box-sizing: border-box;
    position: relative;
    float: none;
    display: list-item;
    padding: 0 2%;
    height: 50px;
    list-style-type: none;
    font-weight: normal;
    border-top: 1px solid $color-border;
}

.open-third::after {
    @include fontAwesome;
    content: "  \f105";
    position: absolute;
    right: 5px;
}
.arrow-down::after {
    @include fontAwesome;
    content: "  \f107";
    font-size: 15px;
    position: relative;
    left: 6px;
}
#accueil {
    color: $color-main;
    margin: 0;
}
.sticky {
    position: fixed;
    top:0;
    z-index: 50;
}
.nav-placeholder {
    height: 60px;
}

/* search */

.search {
    box-sizing: border-box;
    width: 58px;
    cursor: pointer; 
    font-family: $font-icon;
    font-weight: 900;
    margin: 0;
    padding: 1%;
    color: $second-font-color;
    & .search-icon {
        height: 15px;
        width: 15px;
        position: relative;
        top: 8px;
    }

    &:hover {
        color: $color-main;
        fill: $color-main;
    }
    & input {
        display: none;
    }
    & .close-icon {
        display: none;
    }
}
.search--full {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    & input {
        border: none;
        width: 100%;
        height: 90%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
    & .close-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 2%;
        top: 35%;
        cursor: pointer;
        &:hover {
            fill: $color-main;
        }
    }
    & .search-icon {
        display: none;
    }
}
.toggle-menu {
    display: none;
    height: 25px;
    width: 30px;
    margin: 3% auto;
    padding: 0;
    border: none;
    background-color: $color-background;
    cursor: pointer;
    @media (max-width:1024px) {
        display: block;
    }
    
}
.bars-svg {
    height: 100%;
    display: inline-block;
    &:hover {
        fill: $color-main;
    }
}