.social-icon {
    display: inline-block;
    height: 13px;
    padding: 6px;
    fill: $main-font-color;
    cursor: pointer;
    &:hover {
        fill: $color-main;
    }
}
.instagram-button {
    box-sizing: border-box;
    background-color: $main-font-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    margin: 5% auto 15% auto;
    padding: 2% 5%;
    height: 33px;
    display: block;
    cursor: pointer;
    &::before {
        display: inline-block;
        font-family: $font-icon-brands;
        content: "\f16d";
        position: relative;
        right: 5%;
    }
    &:hover {
        background-color: $color-hover;
    }
    &--footer {
        margin: 1% auto 5% auto;
        padding: 0.5% 2%;
        @media (max-width:1024px) {
            display: none;
        }
    }
}

