@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/OpenSans-Regular-webfont.eot');
    src: url('./fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('./fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('./fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('./fonts/OpenSans-Semibold-webfont.eot');
    src: url('./fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('./fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('./fonts/OpenSans-Semibold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmaticSC';
    src: url('./fonts/AmaticSC-Regular.eot');
    src: url('./fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('./fonts/AmaticSC-Regular.woff') format('woff'),
        url('./fonts/AmaticSC-Regular.ttf') format('truetype'),
        url('./fonts/AmaticSC-Regular.svg#AmaticSC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/webfonts/fa-solid-900.eot');
    src: url('./fonts/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('./fonts/webfonts/fa-solid-900.woff2') format('woff2'),
    url('./fonts/webfonts/fa-solid-900.woff') format('woff'),
    url('./fonts/webfonts/fa-solid-900.ttf') format('truetype'),
    url('./fonts/webfonts/fa-solid-900.svg#fontawesome') format('svg');
  }
  @font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("./fonts/webfonts/fa-brands-400.eot");
    src: url("./fonts/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), 
    url("./fonts/webfonts/fa-brands-400.woff2") format("woff2"), 
    url("./fonts/webfonts/fa-brands-400.woff") format("woff"), 
    url("./fonts/webfonts/fa-brands-400.ttf") format("truetype"), 
    url("./fonts/webfonts/fa-brands-400.svg#fontawesome") format("svg"); 
}

$font-main: "open_sansregular", "sans serif";
$font-main-bold: "open_sanssemibold", "sans serif";
$font-special: "AmaticSC", "sans serif";
$font-icon: "Font Awesome 5 Free";
$font-icon-brands: "Font Awesome 5 Brands";

body {
    font-family: $font-main;
    color: $main-font-color;
};

.blog-post__title, .aside, .footer__middle h3 {
    font-family: $font-special;
};

.main-nav, .top-nav, .categories, .blog-post__readmore {
    font-family: $font-main-bold;
}

h2, h3 {
    text-transform: uppercase;
}

