.main-content {
    box-sizing: border-box;
    padding: 2.5%;
    display: flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    &__left {
        flex: 77%;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:750px) {
            justify-content: center;
        }
    }
    &__pagination {
        width: 100%;
        position: relative;
        margin: 3% 0 10% 0;
        &--container {
            white-space: nowrap;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) ;
        }
        &--number {
            display: inline-block;
            margin-right: 0.2%;
            height: 41px;
            line-height: 41px;
            font-weight: 600;
            font-size: 12px;
            width: 39px;
            color: white;
            fill: white;
            text-align: center;
            background-color: $main-font-color;
            &:hover {
                background-color: $color-main;
            }
        }
        
        &--arrow {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.2%;
            height: 41px;
            line-height: 41px;
            width: 39px;
            fill: white;
            text-align: center;
            background-color: $main-font-color;
            position: absolute;
            right:0px;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                background-color: $color-main;
            }
        }
        & .icon-arrow {
            width:30%;
            line-height: 41px;
            text-align: center;
        }
    }
};
.current-page {
    background-color: $color-main;
}

.blog-post {
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;
    width: 48%;
    height: auto;
    @include height;
    margin-bottom: 2%;
    @media (max-width:750px) {
            width: 80%;
    }
    &__photo {
        padding-top: 3%;
    }
    &__tags {
        box-sizing: border-box;
        color: $color-main;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: bold;
        line-height: 1.15;
        text-align: center;
        margin-top: 5%;
        &:hover {
            color: $color-hover-main;
        }
    }
    &__title {
        box-sizing: border-box;
        font-weight: 800;
        font-size: 37px;
        color: black;
        text-align: center;
        line-height: 25px;
        margin-top: 2%;
        &:hover {
            color: $color-hover;
        }
    }
    &__extract {
        box-sizing: border-box;
        text-align: justify;
        margin-top: 3%;
        &::first-letter {
            float: left;
            margin: 5px 12px 0 0;
            font-family: $font-special;
            font-size: 80px;
            line-height: 65px;
            text-align: center;
            text-transform: uppercase;
            color: #030303;
        
        }
    }
    &__readmore {
        box-sizing: border-box;
        display: block;
        margin: auto;
        margin-top: 8%;
        border: 1px solid $color-main;
        color: $color-main;
        background-color: $color-background;
        width: 30%;
        cursor: pointer;
        font-weight: 400;
        letter-spacing: 2px;
        &:hover {
            color: $color-hover-main;
        }
    }
    &__socials {
        box-sizing: border-box;
        width: 100%;
        padding: 2% 2% 5% 0;
        margin-top: 2%;
        text-align: right;
    }
};

