@mixin height {
    @each $key, $value in $blog-post-height {
        &__#{$key}{
            height: $value;
        }
    }
};
@mixin fontAwesome {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: $font-icon;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}