$main-font-color: #464646;
$second-font-color:#000000;
$color-main: #946D2E;

$color-hover: rgba(70,70,70, 0.75);
$color-hover-main: rgba(202, 155, 82, 0.85);

$color-background: #ffff;

$color-featured-links: rgba(255,255,255, 0.85);


$color-border: #ddd9d9;

$color-footer: #f6f6f6;

$height-photo: 40%; 
$height-tags: 2%;
$height-title: auto;
$height-extract: auto;
$height-readmore: 6%;
$height-socials: 4%;

$blog-post-height: (
    photo: $height-photo,
    tags: $height-tags,
    title: $height-title,
    extract: $height-extract,
    readmore: $height-readmore,
    socials: $height-socials

);



